name: web_app_stack
services:
  app1:
    build:
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - postgres_db
      - redis_db

  postgres_db:
    image: postgres
    expose:
      - 5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
    volumes:
      - postgres_data:/var/lib/postgresql

  redis_db:
    image: redis
    expose:
      - 6379
    restart: always
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

volumes:
  redis_data:
  postgres_data:
